---
swagger: "2.0"
info:
  title: Sleeper Agents API Routes
  description: "This is a document containing the routes used in our API for invoice rendering"
  version: '2.0'
tags:
- name: "Rendering"
  description: "Routes for rendering invoices"
- name: "Authentication"
  description: "Authenticating users"
host: sleeperagents1.alwaysdata.net
paths:
  /renderHTML:
    post:
      tags:
      - "Rendering"
      summary: "render a HTML file from an inputted XML file"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: formData
          name: XML invoice
          required: true
          type: file
        - in: query
          name: language
          required: true
          type: string
      responses:
        200:
          description: "Successful operation"
          schema:
            type: "object"
            properties:
              file:
                type: string
                example: |
                  <div>
                    <h2>Invoice Information</h2>
                    <p>ID</p>
                    <p>Issue Date: </p>
                  </div>
        400:
          description: |
            If any of the following are true:
            - The XML File is invalid
            - The language is invalid or not supported
            - The token is invalid
          schema:
            $ref: '#/definitions/ErrorReturn'
  /registerUser:
    post:
      tags:
      - "Authentication"
      summary: "register a new user to use the API"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User details to be registered"
        required: true
        schema:
          $ref: "#/definitions/UserDetails"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/TokenReturn"
        400:
          description: |
            If any of the following are true:
            - User already exists
            - The password does not contain:
              - At least 8 characters
              - Contain one uppercase letter
              - Contain one lowercase letter
              - Contain one number
          schema:
            $ref: '#/definitions/ErrorReturn'
  /loginUser:
    get:
      tags:
      - "Authentication"
      summary: "login in an existing user to retrieve their token"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User details to login"
        required: true
        schema:
          $ref: "#/definitions/UserDetails"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TokenReturn"
        400:
          description: |
            If any of the following are true:
            - User does not exist
            - The password is incorrect
          schema:
            $ref: '#/definitions/ErrorReturn'
  /deactivateUser:
    put:
      tags:
      - "Authentication"
      summary: "deactivate an existing user account"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User details to be deactivated"
        required: true
        schema:
          $ref: "#/definitions/UserDetails"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/EmptyReturn"
        400:
          description: |
            If any of the following are true:
            - User does not exist
            - The password is incorrect
          schema:
            $ref: '#/definitions/ErrorReturn'
  /reactivateUser:
    put:
      tags:
      - "Authentication"
      summary: "reactivate an existing user account"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User details to be reactivated"
        required: true
        schema:
          $ref: "#/definitions/UserDetails"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/EmptyReturn"
        400:
          description: |
            If any of the following are true:
            - User does not exist
            - The password is incorrect
            - The user is already active
          schema:
            $ref: '#/definitions/ErrorReturn'
  /changeUserPassword:
    put:
      tags:
      - "Authentication"
      summary: "change a user's password"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User details and new password"
        required: true
        schema:
          $ref: "#/definitions/ChangePassword"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/EmptyReturn"
        400:
          description: |
            If any of the following are true:
            - User does not exist
            - The password is incorrect
            - The user is already active
          schema:
            $ref: '#/definitions/ErrorReturn'
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  FileOutput:
    type: string
    example: "exampledomain.com/index.html"
  UserDetails:  
    type: "object"
    properties:
      username:
        type: "string"
      password:
        type: "string"
  ChangePassword:  
    type: "object"
    properties:
      username:
        type: "string"
      oldPassword:
        type: "string"
      newPassword:
        type: "string"
  TokenReturn:
    type: "object"
    properties:
      token:
        type: "string"
  ErrorReturn:
    type: "object"
    properties:
      error:
        type: "string"
  EmptyReturn:
    type: "object"
